/*---GENERAL CLASS---*/

a {
    text-decoration: none;
    color: black;
}

/*HEADER CLASS AND ID---*/

.Header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    background-color: black;
}

#HeaderLeftPicture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}

#HeaderMyselfPicture {
    width: 50%;
    height: auto;
    max-height: calc(100% - 10px);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#MainPortail {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MainPortailLink {
    padding: 15px;
    color: yellow;
}

.MainPortailLink:hover {
    padding: 15px;
    border-radius: 15px;
    background-color: #a60738;
    color: orange;
}